$landingPageBgColor: #04471C;
$landingPageBgColor2: "";
$landingPageButton: "";
$navbartextColor: #FFFAFF;
$navbarHoverColor: #7fc7a3;
$MenuItemFocusColor: #7fc7a3;
$landingPageTextColor: #FFFAFF;
$bgNavMenu: #023614;
$focusText: #c7b23f


