$header : "";
$navbar : "";
$landingPageBgColor: #04471C;
$landingPageBgColor2: "";
$landingPageButton: "";
$MenubarBgColor: "";
$MenuBgColor: "";
$landingPageTextColor: #FFFAFF;
$bgNavMenu: #023614;


