$header : "";
$navbar : "";
$landingPageBgColor: #04471C;
$landingPageBgColor2: "";
$landingPageButton: "";
$MenubarBgColor: "";
$navbartextColor: #9ec9b0;
$navbarHoverColor: #8aa152;
$MenuItemFocusColor: #7fc7a3;
$MenuBgColor: "";
$landingPageTextColor: #FFFAFF;
$bgNavMenu: #023614;


