@import "_variables.scss";

html {
    font-family: "Helvetica Neue";
    -ms-text-size-adjust: 100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-scrollbar: 100%;
}

body {
    margin: 0;
}

ul {
  list-style: none;
}

span {
  margin: 3px;
}

.message {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 100%;
}

.main-content {
  height: 100vh;
  width: 80%;
  box-shadow: $mainContentShadowColor;
  margin-top: 0;
  float: right;
}

.full-content {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.app-main {
  overflow-x: hidden;
}

div.landingPageBG-false {
    background-image: url("../Assets/bgColor-fudge.png"), 
        url("../Assets/bg-fudge.png"),
        radial-gradient(rgb(12, 17, 12), rgba(2, 31, 21, 0));
    background-size: cover, 50vw;
    object-fit: cover, cover;
    background-position: 50% 0;
    background-blend-mode: difference, initial;
    background-repeat: no-repeat, no-repeat;
    color: $landingPageTextColor;
    height: 100vh;
    margin-top: 0%;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100vw;
    overflow: hidden;
    font-weight: lighter;
}

div.landingPageBG-true {
  background-image: url("../Assets/bgColor-fudge.png"), 
    url("../Assets/bg-fudge.png"),
    radial-gradient(rgb(12, 17, 12), rgba(2, 31, 21, 0));
  background-size: cover, 50vw;
  object-fit: cover, cover;
  background-blend-mode: difference, initial;
  background-position: 50%, 50%;
  animation: 1.5s bg-slide;
  background-repeat: no-repeat, no-repeat;
  color: $landingPageTextColor;
  position: relative;
  height: 100vh;
  margin-top: 0%;
  left: 0px;
  top: 0px;
  width: 100vw;
  overflow: hidden;
  font-weight: lighter;
}

// .dash-slider {
//   width: 5px;
//   height: 25px;
//   transition: max-width 5s ease-in-out;
//   max-width: 2000px;
// }

// .progress .progress-bar {
//   position: absolute;
//   width: 20px;
//   left: 50%;
// }

.landingPageBG-true .comtainer-slider {
  position: absolute;
  left: 50%;
  width: 10px;
  height: 25px;
  animation: slide-side 5s linear alternate;
}



// .c_progress {
//   color: #333330;
//   background-color: rgba(138, 165, 62, 0)
// }

.progress-bar {
  width: 0%;
  background-color: $landingPageTextColor;
}

.comp-slider {
  width: 100%;
  height: 100%;
  color: rgb(205, 213, 245);
}

// @keyframes slide-side {
//   0% {
//     margin-left: 20%;
//     width: 15px;
//     transform: translateX(2%);
//     background-position-x: 0% 0%;
//   }
//   50% {
//     margin-left: 100%;
//     width: 5000px;
//     transform: translateX(100%);
//     background-position-x: 100% 100%;
//   }
//   100% {
//     margin-left: 20%;
//     width: 15px;
//     transform: translateY(100%);
//     background-position-y: 0% 0%;
//   }
// }

@keyframes slide-side {
  0% {
    // margin-left: 0;
    // width: 100px;
    // transform: translateX(2%);
    // right: 50%;
    width: 0%;
    // background-position-x: 100% 50%;
  }
  50% {
    // left: 50%;
    width: 100%;
    // transform: translateX(100%);
    // background-position-x: -100% 0%;
  }
  100% {
    // margin-right: 100%;
    // margin-top: 0%;
    // height: 100%;
    width: -100%;
    // background-position-y: 50% 50%;
  }
  // 100% {
  //   margin-right: 100%;
  //   width: 10000px;
  //   transform: translateX(-100%);
  //   // background-position-y: 0% 0%;
  // }
}

// .landingPageBG-true .comtainer-slider .comp-slider {
//   display: inline-block;
//   animation: progress-up 3s linear alternate;
// }

// @keyframes progress-up {
//   0% {
//     transform: translateX(40%) translateY(40%);
//   }
//   60% {
//     transform: translateX(60%) translateY(60%);
//     background-position-y: 50%, 50%;
//   }
//   100% {
//     transform: translateX(100%) translateY(100%);
//     background-position-y: 50%, 50%;
//   }
// }

// @if $enable-transitions {
//   @keyframes progress-bar-stripes {
//     0% { background-position-x: $progress-height; }
//   }
// }

.canvas-container {
  height: 46vh;
}

.namespace {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.select-header{
  border-style: hidden;
  position: absolute;
  padding: 0 0;
  border: 0;
  width: 1.2rem;
  font-size: 1rem;
  background-color: $navbartextColor;
  margin: 0 0;
  top: 1.8rem;
}

.label-currency {
  top: 1.8rem;
  right: 10rem;
  position: absolute;
}

.label-amount {
  top: 1.8rem;
  right: 2.1rem;
  position: absolute;
}

option {
  font-size: 0.7rem;
  font-weight: 0.2rem;
  padding: 0;
  background-color: $navbartextColor;
  margin: 0;
}

.custom-select {
  position: relative;
}

// .custom-select-arrow {
//   position: absolute;
//   right: 0;
//   top: 0;
//   height: 100%;
//   width: 1rem;
//   display: block;
//   background-color: red;
//   pointer-events: none;
// }

// .custom-arrow::before 
// .custom-arrow::after {
//   --size: 1rem;
//   content: "";
//   position: absolute;
//   width: 0;
//   height: 0;
//   left: 50%;

// }

// .custom-arrow::before {
//    border-left: var(--size) solid transparent;
//    border-right: var(--size) solid transparent;
//    border-bottom: var(--size) solid red;
// }
// .custom-arrow::after {
//    border-left: var(--size) solid transparent;
//    border-right: var(--size) solid transparent;
//    border-top: var(--size) solid red;
// }

// .select-header {
//   border-style: hidden;
//   height: 1.2rem;
//   width: 0.1rem;
//   display: flex;
//   align-self: flex-start;
//   padding: 0 0;
//   font-size: 0.1rem;
//   background-color: $navbartextColor;
//   margin: 0.5rem 0.5rem 0 0;
// }

.goal-card {
  box-shadow: 0 10px 20px $goalCardShadowColor;
  height: 17.5rem;
}

.bg-goal-pill {
  background-color: $goalPillBGColor;
  font-size: 0.8rem;
  width: fit-content;
  height: fit-content;
}

.health-goal {
  font-size: 0.45rem;
  display: flex;
  align-items: center;
}

.good-health {
  margin-left: 2px;
  text-decoration: underline;
  font-weight: bold;
}

.bg-perf-pill {
  background-color: $performancePillBGColor;
  font-size: 0.6rem;
  width: fit-content;
  height: fit-content;
}

.stat-card {
  box-shadow: 0 10px 20px $goalCardShadowColor;
  height: 6rem;
}

.card-dim {
  height: 9.7rem;
  border-style: hidden;
}

.footer-goal {
  // margin: 4.5rem 0 0 0;
}

.text-goal {
  font-size: 0.6rem;
  flex-wrap: nowrap;
}

.arrowPos1 {
  margin-bottom: 18rem;
}

.arrowPos2 {
  margin-bottom: 15rem;
}
  
.navbar {
  background-color: $bgNavMenu;
  width: 20%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-left: 0rem;
  text-decoration: none;
  list-style-type: none;
}

.logo-bars {
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
}

.nav-menu {
  background-color: $bgNavMenu;
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-item {
  background-color: $bgNavMenu;
  color: $navbartextColor;
  text-decoration: none;
  list-style-type: none;
}

.nav-text {
  padding: 8px 0px 8px 8px;
  color: $navbartextColor;
  text-decoration: none;
  width: 85%;
}

.nav-text a:hover {
  cursor: pointer;
  color: $navbarHoverColor;
  text-decoration: none;
}

.nav-text a:focus {
  background-color: $MenuItemFocusColor;
  border-radius: 4px;
  width: 85%;
  color: $focusText;
  text-decoration: none;
}

.nav-menu-hidden {
  display: none;
}

// .nav-menu .active {
//   left: 0;
//   transition: 350ms;
// }

@keyframes nav-show {
  from {
    width: 100%;
  }
  to {
    width: 20%;
  }
}

.navbar-logo {
  background-color: $bgNavMenu;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 6rem;
}

.navbar-title {
  margin-left: 0;
  align-items: center;
  text-decoration: none;
  background-color: $bgNavMenu;
  list-style-type: none;
}

img.imgLogo {
  animation: 1.5s slide-up;
  margin-top: 0%;
}

div.showInfo div.fudgeLogo  p h1 div.bthInfo button {
  animation: 1.5s slide-up;
  margin-top: 0%;
  // height: 200px;
  // overflow: hidden;
}
  
@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 300%;
  }
  to {
    margin-top: 0%;
    height: 100%;
  }
}

@keyframes bg-slide {
  from {
    background-position-y: 50%, 0;
  }
  to {
    background-position-y: 50%, 50%;
  }
}

.ellipse {
  width: 35px;
  height: 35px;
  margin-right: 0rem;
}

// .textbreak:after {
//   content:"\00a0\00a0\00a0\00a0\00a0";
//   text-decoration: line-through;
// }
// .textbreak:before,

.coolImage {
  max-width: 45px;
  max-height: 80px;
}

h1.exception {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
}
h1.exception:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
h1.exception:after {
  margin-left: 5px
}

.card-title {
  font-size: 0.8rem;
  font-weight: bold;
}
.card-subtitle {
  font-size: 0.5rem;
  font-weight: bold;
}

.card-stats {
  box-shadow: 25rem;
  height: 6rem;
  border-color: linear-gradient(rgb(12, 17, 12), rgba(2, 31, 21, 0));
  border-width: 20px;
  background-color: $navbartextColor;
}

.slabel {
  margin: 0.6rem 0.6rem 0rem 0rem;
  padding: 0.6rem 0.6rem 0rem 0rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
}

//   .showInfo {
//     opacity: 1;
//     transition: all 300ms ease-out;
//     transform: translateY(-5px) scale(1.0);
//   }

// .slide-appear {
//     opacity: 0;
//     transition: all 300ms ease-out;
//     transform: translateY(5px) scale(0.2);
//   }
// .slide-appear-done {
//     opacity: 0.5;
//     transition: all 300ms;
//     transform: translateY(2px) scale(0.5);
// }
// .slide-enter {
//   opacity: 0;
//   transition: all 300ms ease-out;
//   transform: translateY(-1px) scale(0.7);
// }
// .slide-enter-active {
//     opacity: 0.8;
//     transition: all 300ms ease-out;
//     transform: translateY(-4px) scale(0.89);
//   }
// .slide-enter-done {
//   opacity: 1;
//   transition: all 300ms ease-out;
//   transform: translateY(-5px) scale(1.0);
// }

@media (min-width: 1276) {
  // body div.app-main {
  //   margin: 0;
  //   width: 50%;
  // }
  small .bg-perf-pill {
    font-size: 0.2rem;
    width: 124px;
    height: 16px;
  }
}
