@import "_variables.scss";

html {
    font-family: "Helvetica Neue";
    -ms-text-size-adjust: 100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-scrollbar: 100%;
}

body {
    margin: 0;
}

ul {
  list-style: none;
}

span {
  margin: 3px;
}

.message {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 100%;
}

.mainContent {
  height: 100vh;
  width: 80%;
  box-shadow: #303036;
  margin-top: 0;
  float: right;
}

.fullContent {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.appMain {
  overflow-x: hidden;
}

div.landingPageBG-false {
    background-image: url("../Assets/bgColor-fudge.png"), 
        url("../Assets/bg-fudge.png"),
        radial-gradient(rgb(12, 17, 12), rgba(2, 31, 21, 0));
    background-size: cover, 50vw;
    object-fit: cover, cover;
    background-position: 50% 0;
    background-blend-mode: difference, initial;
    background-repeat: no-repeat, no-repeat;
    color: $landingPageTextColor;
    height: 100vh;
    margin-top: 0%;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100vw;
    overflow: hidden;
    font-weight: lighter;
}

div.landingPageBG-true {
  background-image: url("../Assets/bgColor-fudge.png"), 
    url("../Assets/bg-fudge.png"),
    radial-gradient(rgb(12, 17, 12), rgba(2, 31, 21, 0));
  background-size: cover, 50vw;
  object-fit: cover, cover;
  background-blend-mode: difference, initial;
  background-position: 50%, 50%;
  animation: 1.5s bg-slide;
  background-repeat: no-repeat, no-repeat;
  color: $landingPageTextColor;
  position: relative;
  height: 100vh;
  margin-top: 0%;
  left: 0px;
  top: 0px;
  width: 100vw;
  overflow: hidden;
  font-weight: lighter;
}

.dashSlider {
  width: 100px;
  height: 30px;
  transition: max-width 5s ease-out;
  max-width: 6900px;
}

.comtainer-slider {
  display: block;
  width: 900px;
  overflow: hidden;
  white-space: nowrap;
  animation: slide-side 5s forwards;
  animation-direction: alternate;
  max-width: 6900px;
}

.comtainer-slider .comp-slider {
  position: relative;
  display: inline-block;
}

.namespace {
  font-size: 12px;
}

.select {
  border-style: hidden;
}

.currencyOptions option {
  font-size: 10px;
  font-weight: 10px;
  padding:5px 0;
  height: 5px;
  width: 5px;
}

@keyframes slide-side {
  from {
    margin-left: 20%;
    align-self: center;
    width: 900px;
  }
  to {
    margin-left: 100%;
    width: 6900px;
  }
}

.arrowPos1 {
  margin-bottom: 18rem;
}

.arrowPos2 {
  margin-bottom: 15rem;
}
  
.navbar {
  background-color: $bgNavMenu;
  width: 20%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-left: 0rem;
  text-decoration: none;
  list-style-type: none;
}

.logo-bars {
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
}

.nav-menu {
  background-color: $bgNavMenu;
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-item {
  background-color: $bgNavMenu;
  color: $navbartextColor;
  text-decoration: none;
  list-style-type: none;
}

.nav-text {
  padding: 8px 0px 8px 8px;
  color: $navbartextColor;
  text-decoration: none;
  width: 85%;
}

.nav-text a:hover {
  cursor: pointer;
  color: $navbarHoverColor;
  text-decoration: none;
}

.nav-text a:focus {
  background-color: $MenuItemFocusColor;
  border-radius: 4px;
  width: 85%;
  color: $focusText;
  text-decoration: none;
}

.nav-menu-hidden {
  display: none;
}

// .nav-menu .active {
//   left: 0;
//   transition: 350ms;
// }

@keyframes nav-show {
  from {
    width: 100%;
  }
  to {
    width: 20%;
  }
}

.navbar-logo {
  background-color: $bgNavMenu;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 6rem;
}

.navbar-title {
  margin-left: 0;
  align-items: center;
  text-decoration: none;
  background-color: $bgNavMenu;
  list-style-type: none;
}

img.imgLogo {
  animation: 1.5s slide-up;
  margin-top: 0%;
}

div.showInfo div.fudgeLogo  p h1 div.bthInfo button {
  animation: 1.5s slide-up;
  margin-top: 0%;
  // height: 200px;
  // overflow: hidden;
}
  
@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 300%;
  }
  to {
    margin-top: 0%;
    height: 100%;
  }
}

@keyframes bg-slide {
  from {
    background-position-y: 50%, 0;
  }
  to {
    background-position-y: 50%, 50%;
  }
}

.ellipse {
  width: 35px;
  height: 35px;
  margin-right: 0rem;
}

// .textbreak:after {
//   content:"\00a0\00a0\00a0\00a0\00a0";
//   text-decoration: line-through;
// }
// .textbreak:before,

.coolImage {
  max-width: 45px;
  max-height: 80px;
}

h1.exception {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
h1.exception:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
h1.exception:after {
  margin-left: 5px
}

.card-title {
  font-size: 0.8rem;
  font-weight: bold;
}
.card-subtitle {
  font-size: 0.5rem;
  font-weight: bold;
}

.card-stats {
  box-shadow: 25rem;
  border-color: linear-gradient(rgb(12, 17, 12), rgba(2, 31, 21, 0));
  border-width: 20px;
  background-color: #EBEBEB;
}

.slabel {
  margin: 0.6rem 0.6rem 0rem 0rem;
  padding: 0.6rem 0.6rem 0rem 0rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
}

.selectHeader {
  border: none;
  width: 5%;
}

//   .showInfo {
//     opacity: 1;
//     transition: all 300ms ease-out;
//     transform: translateY(-5px) scale(1.0);
//   }

// .slide-appear {
//     opacity: 0;
//     transition: all 300ms ease-out;
//     transform: translateY(5px) scale(0.2);
//   }
// .slide-appear-done {
//     opacity: 0.5;
//     transition: all 300ms;
//     transform: translateY(2px) scale(0.5);
// }
// .slide-enter {
//   opacity: 0;
//   transition: all 300ms ease-out;
//   transform: translateY(-1px) scale(0.7);
// }
// .slide-enter-active {
//     opacity: 0.8;
//     transition: all 300ms ease-out;
//     transform: translateY(-4px) scale(0.89);
//   }
// .slide-enter-done {
//   opacity: 1;
//   transition: all 300ms ease-out;
//   transform: translateY(-5px) scale(1.0);
// }
